[Desktop Entry]
Categories=Application;System;Settings
Comment=Deepin Desktop Environment Control Center
Exec=dde-control-center --show %f
GenericName=Control Center
Icon=preferences-system
Name=Deepin Control Center
StartupNotify=false
StartupWMClass=dde-control-center
Terminal=false
Type=Application
X-Deepin-TurboType=dtkwidget
X-Deepin-Vendor=deepin
X-MultipleArgs=false

# Translations:
# Do not manually modify!
Comment[ar]=مركز تحكم بيئة سطح مكتب Deepin
Comment[az]=Deepin İş Masası Mühiti İdarəetmə Mərkəzi
Comment[bg]=Контролен център на работната среда Deepin
Comment[bn]=ডিপিন ডেস্কটপ এনভাইরনমেন্ট নিয়ন্ত্রণ কেন্দ্র
Comment[bo]=གཏིང་ཚད་ཅོག་ངོས་ཁོར་ཡུག་ཚོད་འཛིན་ལྟེ་གནས།
Comment[ca]=Centre de control de l'entorn d'escriptori del Deepin
Comment[cs]=Ovládací panely pracovního prostředí Deepin
Comment[da]=Kontrolcenter for Deepin-skrivebordsmiljø
Comment[de]=Deepin Desktop-Umgebung Kontrollzentrum
Comment[de_DE]=Deepin Desktop Environment-Kontrollzentrum
Comment[el]=Κέντρο Ελέγχου Περιβάλλοντος Εγασίας Deepin
Comment[en]=Deepin Desktop Environment Control Center
Comment[en_AU]=Deepin Desktop Environment Control Center
Comment[en_GB]=Deepin Desktop Environment Control Center
Comment[en_US]=Deepin Desktop Environment Control Center
Comment[es]=Centro de control del entorno de escritorio Deepin
Comment[et]=Deepin töölaua juhtpaneel
Comment[fa]=مرکز کنترل محیط دسکتاپ دیپین
Comment[fi]=Deepin ohjauspaneeli
Comment[fr]=Centre de contrôle de l’environnement de bureau Deepin
Comment[gl_ES]=Centro de control de ambiente de escritorio Deepin
Comment[he]=מרכז управления סביבת שולחן העבודה Deepin
Comment[hi_IN]=डीपिन डेस्कटॉप वातावरण नियंत्रण केंद्र 
Comment[hr]=Kontrolni centar Deepin radnog okruženja
Comment[hu]=Deepin® Asztali Környezet Vezérlőpult
Comment[id]=Pusat Kontrol Lingkungan Desktop Deepin
Comment[it]=Centro di Controllo del Deepin Desktop Environment
Comment[ja]=Deepin デスクトップ環境のコントロールセンター
Comment[kab]=Ammas n usenqed n twennaḍt n tnarit n Deepin
Comment[kk]=Deepin Аreamаялық міндеттерінің Көрсөткүч центрі
Comment[km_KH]=មជ្ឈមណ្ឌលបញ្ជាបរិស្ថានផ្ទៃតុ Deepin
Comment[ko]=Deepin 바탕화면 환경 제어 센터
Comment[lt]=Deepin darbalaukio aplinkos valdymo centras
Comment[ms]=Pusat Kawalan Persekitaran Atas Meja Deepin
Comment[nb]=Deepin Desktop Environment Kontrollsenter
Comment[ne]=डीपिन डेस्कटप वातावरण नियन्त्रण केन्द्र
Comment[nl]=Deepin Systeeminstellingen
Comment[pa]=ਡੀਪਿਨ ਡੈਸਕਟਾਪ ਇੰਵਾਇਰਨਮੈਂਟ ਕੰਟਰੋਲ ਸੈਂਟਰ
Comment[pl]=Centrum kontroli środowiska Deepin
Comment[pt]=Centro de Controlo do Ambiente de trabalho Deepin
Comment[pt_BR]=Central de Controle do Deepin Desktop Environment
Comment[ro]=Centru Control Mediu Desktop Deepin
Comment[ru]=Центр Управления Окружения Рабочего Стола  Deepin
Comment[si]=Deepin ඩෙස්ක්ටොප් පරිසර පාලන මධ්‍යස්ථානය
Comment[sk]=Ovládacie centrum Deepin Desktop Environment
Comment[sl]=Deepin Desktop Enviroment nadzorni center
Comment[sq]=Qendër Kontrolli e Mjedisit Desktop Deepin
Comment[sr]=Дипин Радно Окружење Контролни Центар
Comment[sv]=Deepin Desktop Environment Kontrollcenter
Comment[sw]=Kituo cha ulinzi za eneo la kazi ya Deepin 
Comment[tr]=Deepin Masaüstü Ortamı Kontrol Merkezi
Comment[ug]=ئېكران مۇھىتى كونترول قىلىش مەركىزى 
Comment[uk]=Центр керування стільничним середовищем Deepin
Comment[vi]=Điều khiển Deepin Desktop Environment 
Comment[zh_CN]=深度桌面环境控制中心
Comment[zh_HK]=Deepin 控制中心
Comment[zh_TW]=Deepin 桌面環境的控制中心
GenericName[af]=Beheersentrum
GenericName[am_ET]=መቆጣጠሪያ ማእከል
GenericName[ar]=مركز التحكم
GenericName[ast]=Centru de control
GenericName[az]=İdarə Etmə Mərkəzi
GenericName[bg]=Контролен център
GenericName[bn]=নিয়ন্ত্রণ কেন্দ্র
GenericName[bo]=ཚོད་འཛིན་ལྟེ་གནས།
GenericName[ca]=Centre de control
GenericName[cs]=Ovládací panely
GenericName[da]=Kontrolcenter
GenericName[de]=Kontrollzentrum
GenericName[de_DE]=Kontrollzentrum
GenericName[el]=Κέντρο Ελέγχου
GenericName[en]=Control Center
GenericName[en_AU]=Control Center
GenericName[en_GB]=Control Center
GenericName[en_US]=Control Center
GenericName[eo]=kontroloj centro
GenericName[es]=Centro de control
GenericName[et]=Juhtpaneel
GenericName[fa]=مرکز کنترل
GenericName[fi]=Ohjauspaneli
GenericName[fr]=Centre de contrôle
GenericName[gl_ES]=Centro de Control
GenericName[he]=מרכז בקרה
GenericName[hi_IN]=नियंत्रण केंद्र
GenericName[hr]=Središte upravljanja
GenericName[hu]=Vezérlőpult
GenericName[hy]=Ղեկավարման Կենտրոն
GenericName[id]=Pusat Kontrol
GenericName[it]=Centro di Controllo
GenericName[ja]=コントロールセンター
GenericName[ka]=მართვის ცენტრი
GenericName[kab]=Ammas n usenqed
GenericName[kk]=Көрсөткүч центрі
GenericName[km_KH]=មជ្ឈមណ្ឌលបញ្ជា
GenericName[ko]=제어 센터
GenericName[lt]=Valdymo centras
GenericName[mn]=Удирдлагын хэсэг
GenericName[ms]=Pusat Kawalan
GenericName[nb]=Kontrollsenter
GenericName[ne]=नियन्त्रण केन्द्र
GenericName[nl]=Instellingencentrum
GenericName[pa]=ਕੰਟਰੋਲ ਸੈਂਟਰ
GenericName[pl]=Centrum kontroli
GenericName[pt]=Centro de Controlo
GenericName[pt_BR]=Central de Controle
GenericName[ro]=Centru Control
GenericName[ru]=Центр Управления
GenericName[si]=පාලන මධ්‍යස්ථානය
GenericName[sk]=Ovládacie centrum
GenericName[sl]=Nadzorni center
GenericName[sq]=Qendër Kontrolli
GenericName[sr]=Контролни Центар
GenericName[sv]=Kontrollcenter
GenericName[sw]=Kituo cha ulinzi
GenericName[ta]=கட்டுப்பாட்டு மையம்
GenericName[tr]=Kontrol Merkezi
GenericName[ug]=كونترول مەركىزى 
GenericName[uk]=Центр керування
GenericName[vi]=Trung tâm kiểm soát
GenericName[zh_CN]=控制中心
GenericName[zh_HK]=控制中心
GenericName[zh_TW]=控制中心
Name[am_ET]=ዲፕኢን መቆጣጠሪያ ማእከል
Name[ar]=مركز تحكم ديبين
Name[ast]=Centru de control Deepin
Name[az]=Deepin İdarəetmə Mərkəzi
Name[bg]=Контролен център на Deepin
Name[bn]=ডিপিন কন্ট্রোল সেন্টার
Name[bo]=གཏིང་ཚད་ཚོད་འཛིན་ལྟེ་གནས།
Name[ca]=Centre de control del Deepin
Name[cs]=Ovládací panely pro Deepin
Name[da]=Deepin kontrolcenter
Name[de]=Deepin Kontrollzentrum
Name[de_DE]=Deepin-Kontrollzentrum
Name[el]=Deepin Κέντρο Ελέγχου
Name[en]=Deepin Control Center
Name[en_AU]=Deepin Control Center
Name[en_GB]=Deepin Control Center
Name[en_US]=Deepin Control Center
Name[es]=Centro de control de Deepin
Name[et]=Deepin juhtpaneel
Name[fa]=مرکز کنترل دیپین
Name[fi]=Deepin ohjauspaneeli
Name[fil]=Deepin Control Center
Name[fr]=Centre de contrôle Deepin
Name[gl_ES]=Centro de control de Deepin
Name[he]=מרכז הבקרה של Deepin
Name[hi_IN]=डीपइन नियंत्रण केंद्र
Name[hr]=Deepin kontrolni centar
Name[hu]=Deepin® Vezérlőpult
Name[id]=Pusat Kontrol Deepin
Name[it]=Centro di Controllo di Deepin
Name[ja]=Deepin コントロールセンター
Name[kab]=Ammas n usenqed n Deepin
Name[kk]=Deepin Көрсөткүч центрі
Name[km_KH]=មជ្ឈមណ្ឌលបញ្ជា Deepin
Name[ko]=Deepin 제어 센터
Name[lt]=Deepin valdymo centras
Name[ms]=Pusat Kawalan Deepin
Name[nb]=Deepin kontrollsenter
Name[ne]=Desktop Control Center
Name[nl]=Deepin Systeeminstellingen
Name[pl]=Centrum kontroli Deepin
Name[pt]=Centro de Controlo Deepin
Name[pt_BR]=deepin Central de Controle
Name[ro]=Panou de Control Deepin
Name[ru]=Центр Управления Deepin
Name[si]=Deepin පාලන මධ්‍යස්ථානය
Name[sk]=Deepin Ovládacie centrum
Name[sl]=Nadzorni center Deepin
Name[sq]=Qendër Kontrolli Deepin
Name[sr]=Дипин Контролни Центар
Name[sv]=Deepin Kontrollcenter
Name[tr]=Deepin Kontrol Merkezi
Name[ug]=Deepin كونترول مەركىزى
Name[uk]=Центр керування Deepin
Name[vi]=Trung tâm Điều khiển Deepin
Name[zh_CN]=深度控制中心 
Name[zh_HK]=Deepin 控制中心
Name[zh_TW]=Deepin 控制中心

