/* accounts module common style */
QPushButton#DeleteAccountButton
{
    color: #FF5A5A;
}

QPushButton#DeleteAccountButton:disabled {
    color: rgba(255, 90, 90, 0.4);
}

QPushButton#FingerClean {
    color: #FF5A5A;
}
