#BaseSettings QLabel {
    color: white;
}
#MouseSettings QLabel {
    color: white;
}

#ThinkpadSettings QLabel {
    color: white;
}

#SpeedSlider QLabel {
    color: white;
}

dcc--ModuleTitle QLabel {
    color: white;
}
