QLabel#ModuleHeaderIconSysInfo {
    background-image: url(:/systeminfo/themes/light/icons/nav_systeminfo.svg);
}


dcc--systeminfo--LogoItem  {
    qproperty-logo: url(:/systeminfo/themes/light/icons/logo.png);
}
