*.pyc
nohup.out
.#*
*~
build
dist
dtk.egg-info
*.po~
*.swp
*.user
*.old
*.mo
dss.sublime-project
dss.sublime-workspace
qt5frame/*.o
qt5frame/moc_*
qt5frame/qrc_*
qt5frame/Makefile
qt5frame/dde-control-center
.gitreview
