[D-BUS Service]
Name=com.deepin.dde.ControlCenter
Exec=/usr/bin/qdbus --literal com.deepin.SessionManager /com/deepin/StartManager com.deepin.StartManager.Launch /usr/share/applications/dde-control-center-dbus.desktop
