<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>The PolicyKit Project</vendor>
  <vendor_url>http://hal.freedesktop.org/docs/PolicyKit/</vendor_url>

  <action id="com.deepin.controlcenter.develop">
    <description>Run programs as another user</description>
    <description xml:lang="zh_CN">Kør et program som en anden bruger</description>
    <message>Authentication is required to enable developer mode</message>
    <message xml:lang="zh_CN">进入开发者模式需要管理员认证</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/dde-control-center/develop-tool</annotate>
  </action>
</policyconfig>
