[Desktop Entry]
Categories=Application;System;Settings
Comment=Deepin Desktop Environment Control Center
Comment[am]=የዴስክቶፕ መቆጣጠሪያ ማእከል
Comment[ar]=مركز التحكم _ مكتب دييبن
Comment[cs]=Ovládací středisko pracovního prostředí Deepin
Comment[da]=Deepin Desktop Miljø Kontrol Center
Comment[de]=Deepin Desktopumgebungs-Kontrollzentrum
Comment[de_DE]=Deepin Desktopumgebungs-Kontrollzentrum
Comment[el_GR]=Κέντρο Ελέγχου Περιβάλλοντος Επιφάνειας Εργασίας του Deepin
Comment[es]=Centro de Control para Ambiente de Escritorio Deepin
Comment[es_419]=Centro de Control del Entorno de Escritorio Deepin
Comment[es_AR]=Centro de Control del Entorno de Escritorio Deepin
Comment[es_CL]=Centro de Control de Deepin
Comment[es_ES]=Centro de Control de Escritorio de Deepin
Comment[fi]=Deepin Desktop Environment Ohjauspaneli
Comment[fr]=Panneau de configuration de l'environnement de bureau Deepin
Comment[he]=מרכז בקרת סביבת העבודה של Deepin
Comment[hu]=Deepin Asztali Környezet beállításai
Comment[hy]=Deepin Desktop Environment-ի Ղեկավարման Կենտրոն
Comment[id_ID]=Pusat Kontrol Destop Deepin
Comment[it]=Control Center del Deepin Desktop Environment
Comment[ja]=コントロールセンター
Comment[nl]=Deepin Bureaubladomgeving Controlepaneel
Comment[pl_PL]=Centrum kontroli środowiska pulpitu Deepin
Comment[pt_BR]=Centro de Controle Deepin Desktop Environment
Comment[pt_PT]=Centro de Controlo do Ambiente de Trabalho Deepin
Comment[ru]=Центр упраления окружением Рабочего стола Deepin
Comment[sk]=Deepin ovládacie centrum prostredia
Comment[sl]=Deepin namizno okolje kontrolni center
Comment[tr]=Deepin Masaüstü Ortamı Kontrol Merkezi
Comment[zh_CN]=深度桌面环境控制中心
Comment[zh_TW]=深度桌面環境的系統控制中心
Encoding=UTF-8
Exec=/usr/bin/dde-control-center show
Icon=preferences-system
Name=Control Center
Name[am]=መቆጣጠሪያ ማእከል
Name[ar]=مركز التحكم
Name[az]=İdarə Paneli
Name[cs]=Ovládací středisko
Name[da]=Kontrol Center
Name[de]=Kontrollzentrum
Name[de_DE]=Kontrollzentrum
Name[el_GR]=Κέντρο Ελέγχου
Name[es]=Centro de Control
Name[es_419]=Centro de Control
Name[es_AR]=Centro de Control
Name[es_CL]=Panel de Control
Name[es_ES]=Centro de Control
Name[es_MX]=Centro de control
Name[fi]=Ohjauspaneli
Name[fr]=Centre de contrôle
Name[he]=מרכז בקרה
Name[hr]=Središte upravljanja
Name[hu]=Rendszerbeállítások 
Name[hy]=Ղեկավարման Կենտրոն
Name[id_ID]=Pusat Kontrol
Name[it]=Control Center
Name[ja]=コントロールセンター
Name[ms]=Pusat Kawalan
Name[nl]=Controlepaneel
Name[pl_PL]=Centrum sterowania
Name[pt_BR]=Central de Controle
Name[pt_PT]=Centro de Controlo
Name[ro]=Panou de Control
Name[ru]=Центр управления
Name[sk]=Ovládacie centrum
Name[sl]=Kontrolni center
Name[tr]=Kontrol Merkezi
Name[uk]=Центр управління
Name[zh_CN]=控制中心
Name[zh_TW]=控制中心
OnlyShowIn=Deepin
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false

