[Desktop Entry]

# Translations:
# Do not manually modify!
Comment[ar]=مركز تحكم بيئة سطح مكتب Deepin
Comment[bg]=Контролен център на работната среда Deepin
Comment[bn]=ডিপিন ডেস্কটপ এনভাইরনমেন্ট নিয়ন্ত্রণ কেন্দ্র
Comment[ca]=Centre de control de l'entorn d'escriptori del Deepin
Comment[cs]=Ovládací středisko prostředí plochy
Comment[da]=Kontrolcenter for Deepin-skrivebordsmiljø
Comment[de]=Deepin Desktop-Umgebung Kontrollzentrum
Comment[el]=Κέντρο Ελέγχου Περιβάλλοντος Εγασίας Deepin
Comment[en_AU]=Deepin Desktop Environment Control Center
Comment[es]=Centro de control de entorno de escritorio Deepin
Comment[es_419]=Centro de control del Entorno de Escritorio de Deepin
Comment[fa]=مرکز کنترل محیط دسکتاپ دیپین
Comment[fi]=Deepin työpöytä ympäristön hallinta
Comment[fr]=Centre de contrôle de l’environnement bureau Deepin
Comment[hi_IN]=डीपिन डेस्कटॉप वातावरण नियंत्रण केंद्र 
Comment[hr]=Kontrolni centar Deepin radnog okruženja
Comment[hu]=Deepin Vezérlőközpont
Comment[it]=Deepin Desktop Environment Control Center
Comment[ja]=Deepin デスクトップ環境のコントロールセンター
Comment[ko]=Deepin 바탕화면 환경 제어 센터
Comment[lt]=Deepin darbalaukio aplinkos valdymo centras
Comment[ms]=Pusat Kawalan Persekitaran Desktop Deepin
Comment[nb]=Deepin Desktop Environment Kontrollsenter
Comment[ne]=डीपिन डेस्कटप वातावरण नियन्त्रण केन्द्र
Comment[nl]=Deepin Systeeminstellingen
Comment[pa]=ਡੀਪਿਨ ਡੈਸਕਟਾਪ ਇੰਵਾਇਰਨਮੈਂਟ ਕੰਟਰੋਲ ਸੈਂਟਰ
Comment[pl]=Centrum sterowania środowiska pulpitowego Deepin
Comment[pt]=Centro de Controlo do Ambiente de trabalho Deepin
Comment[pt_BR]=Central de Controle do Deepin Desktop Environment
Comment[ro]=Centru Control Mediu Desktop Deepin
Comment[ru]=Центр Управления Рабочего Окружения Deepin
Comment[sr]=Дипин Радно Окружење Контролни Центар
Comment[sv]=Deepin Desktop Environment Kontrollcenter
Comment[sw]=Kituo cha ulinzi za eneo la kazi ya Deepin 
Comment[tr]=Deepin Masaüstü Ortamı Kontrol Merkezi
Comment[ug]=ئېكران مۇھىتى كونترول قىلىش مەركىزى 
Comment[uk]=Центр керування стільничним середовищем Deepin
Comment[zh_CN]=深度桌面环境控制中心
Comment[zh_TW]=Deepin 桌面環境的控制中心
GenericName[ar]=مركز التحكم
GenericName[bg]=Контролен център
GenericName[bn]=নিয়ন্ত্রণ কেন্দ্র
GenericName[ca]=Centre de control
GenericName[cs]=Ovládací středisko
GenericName[da]=Kontrolcenter
GenericName[de]=Kontrollzentrum
GenericName[el]=Κέντρο Ελέγχου
GenericName[en_AU]=Control Center
GenericName[es]=Centro de control
GenericName[es_419]=Centro de control
GenericName[fa]=مرکز کنترل
GenericName[fi]=Ohjauspaneeli
GenericName[fr]=Centre de contrôle
GenericName[hi_IN]=नियंत्रण केंद्र
GenericName[hr]=Središte upravljanja
GenericName[hu]=Vezérlőközpont
GenericName[id]=Pusat Kontrol
GenericName[it]=Control Center
GenericName[ja]=コントロールセンター
GenericName[ko]=제어 센터
GenericName[lt]=Valdymo centras
GenericName[ms]=Pusat Kawalan
GenericName[nb]=Kontrollsenter
GenericName[ne]=नियन्त्रण केन्द्र
GenericName[nl]=Instellingencentrum
GenericName[pa]=ਕੰਟਰੋਲ ਸੈਂਟਰ
GenericName[pl]=Centrum sterowania
GenericName[pt]=Centro de Controlo
GenericName[pt_BR]=Central de Controle
GenericName[ro]=Centru Control
GenericName[ru]=Центр Управления
GenericName[sr]=Контролни Центар
GenericName[sv]=Kontrollcenter
GenericName[sw]=Kituo cha ulinzi
GenericName[tr]=Kontrol Merkezi
GenericName[ug]=كونترول مەركىزى 
GenericName[uk]=Центр керування
GenericName[vi]=Trung tâm kiểm soát
GenericName[zh_CN]=控制中心
GenericName[zh_TW]=控制中心
Name[am_ET]=ዲፕኢን መቆጣጠሪያ ማእከል
Name[ar]=مركز تحكم ديبين
Name[ast]=Centru de control Deepin
Name[bg]=Deepin Контрол център
Name[ca]=Centre de control del Deepin
Name[cs]=Ovládací středisko
Name[da]=Deepin kontrolcenter
Name[de]=Deepin Kontrollzentrum
Name[el]=Deepin Κέντρο Ελέγχου
Name[es]=Centro de control Deepin
Name[es_419]=Centro de control de Deepin
Name[fa]=مرکز کنترل دیپین
Name[fi]=Deepin-hallintakeskus
Name[fil]=Deepin Control Center
Name[fr]=Centre de Contrôle Deepin
Name[gl_ES]=Centro de control de Deepin
Name[he]=מרכז הבקרה של Deepin
Name[hi_IN]=डीपइन नियंत्रण केंद्र
Name[hr]=Deepin kontrolni centar
Name[hu]=Deepin Vezérlőközpont
Name[id]=Pusat Kontrol Deepin
Name[it]=Deepin Control Center
Name[ja]=Deepin コントロールセンター
Name[ko]=Deepin 제어 센터
Name[lt]=Deepin valdymo centras
Name[ms]=Pusat Kawalan Deepin
Name[nb]=Deepin kontrollsenter
Name[nl]=Deepin Systeeminstellingen
Name[pl]=Centrum sterowania Deepin
Name[pt]=Centro de Controlo Deepin
Name[pt_BR]=Deepin Central de Controle
Name[ro]=Panou de Control Deepin
Name[ru]=Панель управления Deepin
Name[sk]=Deepin Ovládacie centrum
Name[sl]=Nadzorni center Deepin
Name[sr]=Дипин Контролни Центар
Name[sv]=Deepin Kontrollcenter
Name[tr]=Deepin Kontrol Merkezi
Name[uk]=Центр керування Deepin
Name[vi]=Trung tâm Điều khiển Deepin
Name[zh_CN]=深度控制中心 
Name[zh_HK]=Deepin 控制中心
Name[zh_TW]=Deepin Control Center

