QLabel#ModuleHeaderIconUpdate {
    background-image: url(:/update/themes/dark/icons/nav_update.svg);
}

Dtk--Widget--DImageButton#DCC-Update-MirrorItem-SelectedBtn{
    qproperty-normalPic: url(:/update/themes/dark/icons/select.svg);
}

dcc--update--DownloadProgressBar {
    margin: 0;
    padding: 0;
    border: none;
}

dcc--widgets--NormalLabel#UpdateSummary {
    font-weight: 500;
}
