QScrollArea {
    background: transparent;
}

QScrollArea QFrame {
    background: transparent;
}

dcc--TranslucentFrame {
    background: transparent;
}

#LineEditWidget QLineEdit
{
    background: transparent;
    border: none;
}

#LineEditWidget QLabel
{
    color: white;
}
