QLabel#ModuleHeaderIconPersonalization {
    background-image: url(:/personalization/themes/dark/icons/nav_personalization.png);
}

#FontList QLabel {
    color: white;
}

#FontItem QLabel {
    color: white;
}

#FontSettingsWidget NormalLabel {
    color: white;
}
