QLabel#DeviceTitle {
    color:white;
    font-size:12px;
}

QPushButton#ApTitle {
    color:#b4b4b4;
    font-size:12px;
    text-align:left;
    border:none;
}

QPushButton#ApTitle:hover {
    color: white;
    font-size:12px;
    text-align:left;
    border:none;
}
