QLabel#ModuleHeaderIconPersonalization {
    background-image: url(:/personalization/themes/dark/icons/nav_personalization.svg);
}

/* ContentWidget qss */
dcc--widgets--TitledSliderItem#FontSizeWidget {
    qproperty-leftIcon: url(":/personalization/themes/dark/icons/fontsize_decrease.png");
    qproperty-rightIcon: url(":/personalization/themes/dark/icons/fontsize_increase.png");
}

dcc--widgets--TitledSliderItem#Transparency {
    qproperty-leftIcon: url(":/personalization/themes/dark/icons/transparency_low.svg");
    qproperty-rightIcon: url(":/personalization/themes/dark/icons/transparency_high.svg");
}

#FontList QLabel {
    color: white;
}

#FontItem QLabel {
    color: white;
}

#FontSettingsWidget NormalLabel {
    color: white;
}
