Source: dde-control-center
Section: admin
Priority: optional
Maintainer:  Li Longyu (Ai Kotoba) <leaeasy@gmail.com>
Build-Depends: debhelper (>= 9),
 pkg-config,
 libx11-dev,
 libxtst-dev,
 qt5-qmake,
 qt5-default,
 qtdeclarative5-dev,
 libqt5webkit5-dev,
 libgtk2.0-dev,
 deepin-gettext-tools,
Standards-Version: 3.9.5
Homepage: http://gitcafe.com/Deepin/dde-control-center.git

Package: dde-control-center
Architecture: any
Conflicts: dss
Replaces: dss
Depends: ${shlibs:Depends},
 ${misc:Depends},
 dde-account-faces,
 dde-daemon,
 dde-api,
 dde-qml-dbus-factory,
 deepin-artwork-themes,
 deepin-qml-widgets,
 qt5-extra,
 libqt5svg5,
 xkb-data-i18n | xkb-data,
Description: New control center for linux deepin
 New control center for linux deepin
