QLabel#ModuleHeaderIconSysInfo {
    background-image: url(:/systeminfo/themes/dark/icons/nav_systeminfo.svg);
}

QListWidget
{
    background: transparent;
}

QListWidget::item:selected
{
    border-radius: 4px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
}

dcc--systeminfo--CopyrightWidget QFrame#copyrightWidget {
    margin-top: 10px;
    border: none;
    background-color: rgba(238, 238, 238, .2);
    border-radius: 5px;
}
