QLabel#ModuleHeaderIconDisplay {
    background-image: url(:/display/themes/dark/icons/nav_display.svg);
}

dcc--display--MonitorSettingDialog QLabel {
    color: black;
}

dcc--display--MonitorSettingDialog #MonitorName{
    font-weight: 500;
    font-size: 12px;
    padding: 5px 0 0 0;
}

dcc--display--MonitorSettingDialog #Resolution {
    font-weight: 500;
}

dcc--display--SettingsListWidget #SettingsListWidgetTitle {
    font-weight: 500;
}

dcc--display--SettingsOptionItem > QLabel {
    font-size: 13px;
}

dcc--display--MonitorControlWidget QPushButton {
    border: none;
    padding: 5px;
}

dcc--display--MonitorControlWidget QPushButton:focus {
    color: black;
}

dcc--display--MonitorControlWidget #Recognize {
    color: black;
}

dcc--display--MonitorControlWidget #Recognize:hover {
    color: black;
}

dcc--display--MonitorControlWidget #Recognize:pressed {
    color: #2ca7f8;
}

dcc--display--MonitorControlWidget #Split {
    color: black;
}

dcc--display--MonitorControlWidget #Split:hover {
    color: black;
}

dcc--display--MonitorControlWidget #Split:pressed {
    color: #2ca7f8;
}

dcc--display--MonitorControlWidget #Merge {
    color: black;
}

dcc--display--MonitorControlWidget #Merge:hover {
    color: black;
}

dcc--display--MonitorControlWidget #Merge:pressed {
    color: #2ca7f8;
}

dcc--display--CustomConfigPage #DeleteBtn {
    color: red;
}

dcc--display--SettingsOptionItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

dcc--display--MiracastNoDeviceWidget #RefreshButton {
    color: #01bdff;
}

dcc--display--MiracastPage #RefreshBtn {
    color: #01bdff;
}
