QLabel#ModuleHeaderIconNetwork {
    background-image: url(:/network/themes/dark/icons/nav_network.png);
}

#AccessPointWidget > QLabel
{
    color: white;
}

#AccessPointWidget > #DetailButton
{
    qproperty-normalPic: url(:/network/themes/dark/icons/next_normal.png);
    qproperty-hoverPic: url(:/network/themes/dark/icons/next_hover.png);
    qproperty-pressPic: url(:/network/themes/dark/icons/next_press.png);
}
