QLabel#ModuleHeaderIconDefapp {
    background-image: url(:/defapp/themes/dark/icons/nav_defapp.svg);
}

#DefAppViewer {
    background: transparent;
}

#DefCategoryHeadWidget QLabel {
    color: white;
}

#DefCategoryAddWidget FuncButton {
    color: white;
}

#OptionWidget QLabel {
    color: white;
}
