QLabel#VpnTitle {
    color:white;
    font-size:12px;
}

QPushButton#VpnItemTitle {
    color:#b4b4b4;
    font-size:12px;
    text-align:left;
    border:none;
}

QPushButton#VpnItemTitle:hover {
    color: white;
    font-size:12px;
    text-align:left;
    border:none;
}
